# Abaikan folder cache Python
__pycache__/
*.pyc

# Abaikan folder dataset (opsional, jika file CSV sangat besar)
# Tugas/Dataset/

# Abaikan file hasil export yang bisa dibuat ulang
*.csv

# Abaikan folder discord enable jika ada
*.json

# Abaikan folder virtual environment jika ada
venv/
.env